<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('stravicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <title>Stride</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places&key=AIzaSyCaftJEgu1zIwd59dIWRW_KKqwV1sdpXWo"></script>



    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
